from typing import Any, Optional, List, Type, TypeVar, Callable, Union, overload
from typing_extensions import Literal
from enum import Enum, IntEnum
from decimal import Decimal
from datetime import datetime, date, timedelta
from uuid import UUID
from tortoise.validators import Validator
from tortoise.fields.base import CASCADE
from tortoise.fields.relational import (
    ForeignKeyRelation,
    ManyToManyRelation,
    OneToOneRelation,
)
from .extends import RelationDeletePolicy


__all__ = [
    {% for field_name in fields.keys() %}
    '{{ field_name }}',
    {% endfor %}
]

EnumType = TypeVar('EnumType', bound=Enum)
IntEnumType = TypeVar('IntEnumType', bound=IntEnum)


{% macro common_fields(field) %}
    default: Optional[Union[{{ field.type }}, Callable[..., {{ field.type }}]]] = None,
    source_field: Optional[str] = None,
    generated: bool = False,
    pk: bool = False,
    unique: bool = False,
    index: bool = False,
    description: Optional[str] = None,
    validators: Optional[List[Validator]] = None,
    **kwargs: Any,
{% endmacro -%}


{% for field_name, field in fields.items() %}

{% for null_type in [False, True, None] %}
{% if null_type != None %}
@overload
{% endif %}
def {{ field_name }}(
    {% for param in field.extend_params %}
    {{ param }},
    {% endfor -%}

    {% if null_type == False %}
    null: Literal[False] = ...,
    {% elif null_type == True %}
    null: Literal[True] = ...,
    {% elif null_type == None %}
    null: bool = False,
    {% endif %}
    {{- common_fields(field) -}}
) ->
    {%- if null_type == False -%}
    {{ field.type }}
    {%- else -%}
    Optional[{{ field.type }}]
    {%- endif -%}
    :
    {% if null_type == None %}
    """
    {{ field.doc }}
    """
    {% else %}
    ...
    {% endif %}
{% endfor %}

{% endfor %}